
# Это основной и единственный файл «npmrc» лежащий в корне репозитория
# Все остальные файлы должны ссылаться на него через симлинк

registry=https://registry.npmjs.org/
always-auth=false

@domclick:registry = https://npm.sberned.ru/public/
@domclick-ui:registry = https://npm.sberned.ru/public/
